{% extends 'base_admin.html' %}

{% block content %}

<div class="container mt-4">

<div class="card shadow">

<div class="card-header bg-warning">
<h3>Edit Subject</h3>
</div>

<div class="card-body">

<form method="POST">

{% csrf_token %}

<div class="mb-3">
<label>Subject Code</label>
{{ form.code }}
</div>

<div class="mb-3">
<label>Subject Name</label>
{{ form.name }}
</div>

<div class="mb-3">
<label>Course</label>
{{ form.course }}
</div>

<div class="mb-3">
<label>Semester</label>
{{ form.semester }}
</div>

<button class="btn btn-success">
Update Subject
</button>

<a href="{% url 'manage_subjects' %}"
class="btn btn-secondary">
Cancel
</a>

</form>

</div>

</div>

</div>

{% endblock %}