<form method="POST" enctype="multipart/form-data">

{% csrf_token %}

<label>Course</label>

<select name="course" class="form-control">

{% for c in courses %}
<option value="{{ c.id }}">{{ c.name }}</option>
{% endfor %}

</select>

<br>

<label>Semester</label>

<select name="semester" class="form-control">

{% for i in "12345678" %}
<option value="{{ forloop.counter }}">
Semester {{ forloop.counter }}
</option>
{% endfor %}

</select>

<br>

<label>Academic Year</label>

<input
type="text"
name="academic_year"
class="form-control"
placeholder="2026-2027">

<br>

<label>Excel File</label>

<input
type="file"
name="excel_file"
class="form-control">

<br>

<button class="btn btn-success">

Upload Students

</button>

</form>