{% extends "base_admin.html" %}

{% block content %}

<div class="container">

    <div class="card shadow">

        <div class="card-header bg-success text-white">
            <h3>Upload Faculty</h3>
        </div>

        <div class="card-body">

            <form method="POST" enctype="multipart/form-data">

                {% csrf_token %}

                <div class="mb-3">

                    <label>Select Excel File</label>

                    <input
                        type="file"
                        name="excel_file"
                        class="form-control"
                        required
                    >

                </div>

                <button class="btn btn-success">
                    Upload Faculty
                </button>

                <a href="{% url 'manage_faculty' %}" class="btn btn-secondary">
                    Cancel
                </a>

            </form>

        </div>

    </div>

</div>

{% endblock %}