{% extends "faculty/base_faculty.html" %}

{% block content %}

<div class="container mt-4">

<div class="card shadow">

<div class="card-header bg-primary text-white">

<h3>
<i class="fas fa-file-circle-plus"></i>
Create Exam
</h3>

</div>


<div class="card-body">


<form method="POST">

{% csrf_token %}


{% for field in form %}

<div class="mb-3">

<label class="form-label">
{{ field.label }}
</label>

{{ field }}


{% if field.errors %}

<div class="text-danger">
{{ field.errors }}
</div>

{% endif %}


</div>


{% endfor %}



<button class="btn btn-success">

Create Exam

</button>


<a href="{% url 'faculty_dashboard' %}"
class="btn btn-secondary">

Cancel

</a>


</form>


</div>

</div>

</div>


{% endblock %}