{% extends "faculty/base_faculty.html" %}


{% block content %}


<h2>
    Faculty Dashboard
</h2>


<p>
    Welcome, <strong>{{ request.user.username }}</strong>
</p>



<div class="row mt-4">


<div class="col-md-3">

<div class="card shadow">

<div class="card-body text-center">

<h5>
Total Questions
</h5>

<h2>
{{ total_questions }}
</h2>

</div>

</div>

</div>




<div class="col-md-3">

<div class="card shadow">

<div class="card-body text-center">

<h5>
Assessments
</h5>

<h2>
{{ total_exams }}
</h2>

</div>

</div>

</div>




<div class="col-md-3">

<div class="card shadow">

<div class="card-body text-center">

<h5>
Students
</h5>

<h2>
{{ total_students }}
</h2>

</div>

</div>

</div>




<div class="col-md-3">

<div class="card shadow">

<div class="card-body text-center">

<h5>
Results
</h5>

<h2>
{{ total_results }}
</h2>

</div>

</div>

</div>


</div>





<div class="card mt-5 shadow">


<div class="card-body">


<h4>
Recent Assessments
</h4>



<table class="table table-bordered mt-3">


<thead>

<tr>

<th>
Assessment
</th>


<th>
Course
</th>


<th>
Subject
</th>


<th>
Duration
</th>


<th>
Status
</th>


</tr>

</thead>



<tbody>


{% for exam in recent_exams %}


<tr>


<td>
{{ exam.exam_name }}
</td>


<td>
{{ exam.course }}
</td>


<td>
{{ exam.subject }}
</td>


<td>
{{ exam.duration }} Minutes
</td>


<td>


{% if exam.is_published %}

<span class="badge bg-success">
Published
</span>


{% else %}


<span class="badge bg-warning">
Draft
</span>


{% endif %}


</td>


</tr>



{% empty %}


<tr>

<td colspan="5" class="text-center">

No Assessments Found.

</td>

</tr>


{% endfor %}



</tbody>


</table>


</div>


</div>





<div class="card mt-4 shadow">

<div class="card-body">


<h4>
Quick Actions
</h4>





<a href="{% url 'faculty_upload_questions' %}" class="btn btn-success">

Upload Questions

</a>


<a href="{% url 'view_questions' %}" class="btn btn-info">

View Questions

</a>



</div>

</div>



{% endblock %}